<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry, we can't post this job.</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :poster_id, :value => session[:user_id] %>
  </div>

  <div class="field">
    <%= form.hidden_field :status, :value => 'Pending' %>
  </div>

  <div class="field">
    <%= form.label "Furniture" %>
    <%= form.collection_check_boxes :furniture_ids, Furniture.all, :id, :category do |f| %>
      <%= f.label { f.check_box + " " + f.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, start_year: 2019 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary"  %>
  </div>

<% end %>
