<p id="notice"><%= notice %></p>

<h1>Jobs</h1>
<div class="job-card">
  <div class="filter-forms">
    <%= form_tag(jobs_path, method: "get", class: "dropdown") %>
      <label for="filter_status"><strong>Filter by status</strong></label>
      <select name="filter_status">
        <option value="0">All</option>
        <option value="Pending">Pending</option>
        <option value="Accepted">Accepted</option>
        <option value="Completed">Completed</option>
        <option value="Canceled">Canceled</option>
      </select>
    <%= submit_tag "Filter", class: "btn btn-outline-secondary small-btn" %>
  </div>

  <div class="filter-forms">
    <%= form_tag(jobs_path, method: "get") %>
      <label for="filter_furniture"><strong>Filter by furniture</strong></label>
      <select name="filter_furniture">
        <option value="0">All</option>
        <option value="Sofa">Sofa</option>
        <option value="Television">Television</option>
        <option value="Bed">Bed</option>
        <option value="Chair">Chair</option>
        <option value="Shelf">Shelf</option>
        <option value="Lamp">Lamp</option>
        <option value="Table">Table</option>
        <option value="Plant(s)">Plant(s)</option>
        <option value="Curtain(s)">Curtain(s)</option>
        <option value="Storage container">Storage container</option>
      </select>
    <%= submit_tag "Filter", class: "btn btn-outline-secondary small-btn" %>
  </div>

  <table style="width:85%;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job %></td>
          <td><%= link_to job.date.time.strftime("%b %d, %Y at %I:%M%P"), job %></td>
          <td><%= link_to job.status, job %></td>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= button_to 'New Job', new_job_path, method: :get, class: "btn btn-outline-secondary" %>
