<p id="notice"><%= notice %></p>

<h1>My Pickups</h1>

<h4>Posted Pickups</h4>

<% @posted_jobs.each_slice(3) do |jobs| %>
  <div class="row">
    <% jobs.each do |job| %>
      <div class="col-sm-3 card ">
        <%= link_to job.title, job %>
        <%= link_to job.date.time.strftime("%b %d, %Y at %I:%M%P"), job %>
        <%= link_to job.status, job %>
      </div>
    <% end %>
  </div>
<% end %>

<br>
<%= button_to 'Post a New Pickup', new_job_path, method: :get, class: "btn btn-outline-secondary" %>
<br><br>

<h4>Accepted Pickups</h4>
<% @accepted_jobs.each_slice(3) do |jobs| %>
  <div class="row">
    <% jobs.each do |job| %>
      <div class="col-sm-3 card ">
        <%= link_to job.title, job %>
        <%= link_to job.date.time.strftime("%b %d, %Y at %I:%M%P"), job %>
        <%= link_to job.status, job %>
      </div>
    <% end %>
  </div>
<% end %>

<br>
<%= button_to 'Find a New Pickup', jobs_path, method: :get, class: "btn btn-outline-secondary" %>
