<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Furnitures:</strong>
  <% @job.furnitures.each do |furn| %>
    <%= furn.category %>
  <% end %>
</p>

<% if @job.mover && @job.mover.id != session[:user_id] %>
  <p>
    <strong>Mover:</strong>
      <%= @job.mover.name %>
  </p>
<% elsif @job.mover && @job.mover.id == session[:user_id] %>
<p>
  <strong>Mover:</strong>
    You!
</p>
<% end %>

<% if @job.poster.id != session[:user_id] %>
  <p>
    <strong>Poster:</strong>
      <%= @job.poster.name %>
  </p>
<% elsif @job.poster.id == session[:user_id] %>
<p>
  <strong>Poster:</strong>
    You!
</p>
<% end %>

<% if @job.mover && @job.mover.id == session[:user_id] %>
  <p>
    <strong> Address:</strong>
      <%= @job.poster.address %>
  </p>
  <p>
    <strong> Poster's profile:</strong>
      <%= link_to @job.poster.name, user_path(@job.poster) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<% if @job.poster.id != session[:user_id] && !@job.mover && @job.status == 'Pending' %>
  <%= button_to "Accept Job", accept_path(@job), action: 'accept', method: :patch %>
<% end %>

<% if @job.poster.id == session[:user_id] && @job.status == 'Accepted' %>
  <%= button_to "Job Complete", complete_path(@job), action: 'complete', method: :patch %>
<% end %>

<% if @job.poster.id == session[:user_id] %>
  <%= button_to "Cancel Job", cancel_path(@job), action: 'cancel', method: :patch %>
<% end %>
