<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Furnitures:</strong>
  <% @job.furnitures.each do |furn| %>
    <%= furn.category %>
  <% end %>
</p>

<p>
  <strong>Mover:</strong>
  <% if @job.mover %>
    <%= @job.mover.name %>
  <% end %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @job.poster.name %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<%= session[:user_id] %>

<% if @job.poster.id != session[:user_id] && !@job.mover %>
  <%= button_to "Accept Job", accept_path(@job), action: 'accept', method: :patch %>
<% end %>
