<h1><%= @user.name %>'s Profile</h1>

<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="card col">
      <div class="card-body">
        <strong>Completed Pickups Posted:</strong>
        <%= @user.jobs_posted %>
      </div>
    </div>


    <div class="card col">
      <div class="card-body">
        <strong>Pickups Moved:</strong>
        <%= @user.jobs_moved %>
      </div>
    </div>

    <div class="card col">
      <div class="card-body">
        <strong>Average Rating:</strong>
        <%= !@user.user_rating.to_f.nan? ? @user.user_rating : "0" %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="job-card">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </p>

  <% if @user.id == session[:user_id] %>
    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>
    <p>
      <strong>Phone Number:</strong>
      <%= @user.phone_number %>
    </p>
  <% end %>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>
  <% if @user.id == session[:user_id] %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-secondary" %>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-outline-secondary" %>
  <% end %>
</div>
