<!DOCTYPE html>
<html>
  <head>
    <title>Moverr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Moverr</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <% if session[:user_id] %>
            <li><a href="/jobs/new">Post Jobs</a></li>
            <li><a href="/jobs/my-jobs">My Jobs</a></li>
            <li><a href="/users/<%= session[:user_id] %>">Profile</a></li>
          <% end %>
        </ul>
        <% if !session[:user_id] %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/new"> Sign Up</a></li>
            <li><a href="/login"> Login</a></li>
          </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/<%= session[:user_id] %>">Logged in as <%= User.find_by({ id: session[:user_id] }).username %> (id: <%= session[:user_id] %>)</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <% end %>
      </div>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
